{% extends "base.html" %}
{% block title %}
	{% if title %}
		Smart house - {{title}}
	{% else %}
		Smart house
	{% endif %}
{% endblock %}
{% block head %}
<center>New user?</center>
{% endblock %}
{% block content %}
<center>
<div class="content-section">
	<form method="POST" action="">
		{{ form.hidden_tag() }}
		<fieldset class="form-group">
			<legend class="border-bottom mb-4">Register</legend>
			<div class="form-group">
				{{ form.username.label(class="form=form-control-label") }} <br>
				{% if form.username.errors %}
					{{ form.username(class="form=form-control form-control-lg is-invalid") }}
					<div class='invalid-feedback'>
						{% for error in form.username.errors %}
							<span>{{ error }}</span>
						{% endfor %}
					</div>
				{% else %}
					{{ form.username(class="form=form-control form-control-lg") }}
				{% endif %}
			</div>
			<div class="form-group">
				{{ form.password.label(class="form=form-control-label") }} <br>
				{% if form.password.errors %}
					{{ form.password(class="form=form-control form-control-lg is-invalid") }}
					<div class='invalid-feedback'>
						{% for error in form.password.errors %}
							<span>{{ error }}</span>
						{% endfor %}
					</div>
				{% else %}
					{{ form.password(class="form=form-control form-control-lg") }}
				{% endif %}
			</div>
			<div class="form-group">
				<div class="form-group">
				{{ form.confirm_password.label(class="form=form-control-label") }} <br>
				{% if form.confirm_password.errors %}
					{{ form.confirm_password(class="form=form-control form-control-lg is-invalid") }}
					<div class='invalid-feedback'>
						{% for error in form.confirm_password.errors %}
							<span>{{ error }}</span>
						{% endfor %}
					</div>
				{% else %}
					{{ form.confirm_password(class="form=form-control form-control-lg") }}
				{% endif %}
			</div>
		</fieldset>
		<div class="form-group">
			{{ form.submit(class="btn btn-outline-info")}}
	</form> 
	<div class)=border-top>
		<small class="text-muted">
			Already registered? <a class="ml-2" href="{{ url_for('login') }}">Sign In</a>
		</small>
	</div>
</center>
{% endblock %}